# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# Local Environment Variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# PocketBase backend data and binaries
backend/pocketbase.exe
backend/pb_data/
backend/target/

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
